* {
  text-decoration: none;
}

body {
  background-color: white;
}

/*HEADER*/
header {
  background-color: white;
  width: 100%;
  height: 90px;
  position: static;
  box-shadow: 0px 5px 18px #aaa;
}

header .header-brand {
  display: block;
  padding: 7px 20px 0 40px;
  border-right: 3px solid #aaa;
  float: left;
  margin-top: 16px;
}

header .header-brand img {
  height: 40px;
}

header nav ul {
  display: block;
  width: fit-content;
  margin: 0px 0px 0px 20px;
  float: left;
  /* text-align: center; */
  /* The nav tag is already 100% width of the header, so this is to center the ul in the nav */
  /* margin auto only centres something when content is smaller than 100% of the screen. Width fit content makes size of nav as size of content */
}

header nav ul li {
  display: inline-block;
  float: left;
  /* To get rid of gap between the words */
  list-style: none;
}

header nav ul li a {
  display: block;
  font-family: Catamaran;
  font-size: 16px;
  color: #aaa;
  text-transform: uppercase;
  height: 100%;
  padding: 0px 13px;
  line-height: 90px;
    transition: 0.3s;
}

header nav ul li #selected {
  text-decoration: underline;
}

header nav ul li a:hover {
  transition: all 0.3s ease-in-out;
  background-color: #eee;
}

header .header-cases {
  display: block;
  font-family: Catamaran;
  font-size: 16px;
  color: #aaa;
  text-transform: uppercase;
  line-height: 38px;
  border: 1px solid #aaa;
  float: right;
  margin-right: 40px;
  margin-top: 25px;
  /* to center vertically, calc 100px - 40px(line-height 38px + border top and bottom 2px) = 60px divide by 2 = 30px */
  padding: 0 20px;
  transition: 0.3s;
}

header .header-cases:hover {
  background-color: #eee;
  transition: all 0.3s ease-in-out;
}

/* MAIN */
main {

}

.main-wrapper {
  width: 80%;
  margin: 20px auto;
  height: auto;
}

.main-wrapper .box-header {
  height: 50px;
  margin-bottom: 10px;
  /* background-color: red; */
}

.main-wrapper .box-header h1 {
  font-size: 25px;
  float: left;
  line-height: 40px;
  margin-left: 10px;
}

.main-wrapper .box-header .add {
  float: right;
  line-height: 30px;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #00C30F;
  color: white;
  margin-right: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.main-wrapper .box-header .add:hover {
  background-color: #00a30F;
  transition: all 0.3s ease-in-out;
}

table {
  padding-top: 100px;
  margin-bottom: 50px;
  height: 50px;
  width: 100%;
  /* background-color: blue; */
  border: 2px solid #ddd;
}

th, td, tr {
  border: 2px solid #ddd;
}

th {
  text-align: left;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
}

td {
  height: 100px;
  line-height: 100px;
  padding-left: 10px;
}

/* FOOTER */
footer {
  background-color: white;
  padding: 25px 0px;
  margin-top: 10px;
  width: 100%;
  box-shadow: 0px 2px 20px #aaa;
  height: 175px;
}

footer .footer-content {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 2px solid rgba(10, 10, 10, 0.1);
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

footer .company-name {
  float: left;
  font-size: 18px;
  color: #aaa;
}

footer .header-brand {
  display: block;
  color: #111;
  width: fit-content;
  margin: 0 auto;
  font-size: 25px;
}

footer .header-brand img {
  height: 40px;
}

footer nav {
  display: block;
  float: right;
}

footer nav ul {
  margin: -43px 0px 0px 0px;
  /* background-color: green; */
}

footer nav ul li {
  display: inline-block;
  padding-left: 20px;
}

footer nav ul li a {
  color: #aaa;
  font-size: 18px;
}
