
body {
  background-color: #C6E8F4;
}

.section {
margin-bottom: 15px;
width:100%;
float:left;
}

.label {
float: left;
margin-right: 10px;
font-family: 'Tangerine', cursive;
}

.field {
float: left;
width:100%;
}

/* Box Style */
* {
box-sizing: border-box;
}

/* Add padding to containers */
#container {
padding: 16px;
background-color: #C6E8F4;
width:800px;
margin:0 auto;
}

/* Full-width input fields */
input[type=text],input[type=number], input[type=file], input[type=password], input[type=date], input[type=email], input[type=tel], textarea, select {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
font-size:15pt;

}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

input[type='radio'] {
transform: scale(2);
}

/* Overwrite default styles of hr */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn {
background-color: #f0c040;
color: #333;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 49%;
opacity: 0.9;
display: inline;
font-family: 'Tangerine', cursive;
weight: 300;
border-radius: 10px;
}

.btn:hover {
opacity: 1;
}

.button {
    background-color: #f0c040;
    color: black;
    border: 2px solid #f0c040;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:7px;
}

.button:hover {
    background-color: white;
}


h2 {
  font-family: 'Tangerine', cursive;
  font-size: 30px;

}

h3 {
  font-family: 'Tangerine', cursive;
}
