<<<<<<< HEAD
#quiz {
  margin: 0 18px;
  padding: 0 0 0 1px;
  position: relative;
  -webkit-transition: all linear .35s;
  -moz-transition: all linear .35s;
  -o-transition: all linear .35s;
  -ms-transition: all linear .35s;
  transition: all linear .35s;
  text-align: center;
}
#quiz .anticipate {
  color: #1c2d37;
  font-size: 32px;
  line-height: 41px;
  padding: 50px 0 0 0;
  text-shadow: 1px 1px rgba(255,255,255,.666);
  text-align: center;
}
#start-quiz {
  margin-top: 25px;
}
#quiz ul li div.quiz-overlay { margin: 0; }
#quiz ul {
  list-style-type: none;
  margin-top: 0;
}
#quiz h3 {
  color: #222;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 1px 0;
  min-height: 64px;
  padding: 9px 50px 0;
  /* text-align: left; */
}
#quiz ul li {
  height: 335px;
  margin: 25px 0 95px 0;
  max-height: 335px;
  min-height: 335px;
}
#quiz ul li div {
  color: #ebe9e6;
  margin: 10px 0;
  padding: 1px 0;
}
#quiz ul li div.mtm {
  margin-top: 20px;
}
#quiz input {
  opacity: 1;
  vertical-align: middle;
  width: 20px;
}
#quiz label, #quiz input#submit-quiz {
  background-color: #1f4c5b;
  cursor: pointer;
  display: inline-block;
  z-index: 99;
}
#quiz label {
  height: 31px;
  font-size: 13px;
  line-height: 2.55em;
  margin: 0 30px 0 0;
  max-width: 1000px;
  padding: 2px 0 4px 16px;
  width: 575px;
}
#quiz input#submit-quiz {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #1f4c5b;
  border: none;
  color: #ebe9e6;
  display: block;
  font-family: 'Droid Serif', Times, serif;
  font-size: 21px;
  height: 74px;
  margin: 43px auto 0;
  opacity: 1;
  width: 250px;
}
#quiz label, #quiz input[type=radio]:checked + label, #quiz input#submit-quiz, #replay, .take-quiz-btn {
  -webkit-transition: all ease .11s;
  -moz-transition: all ease .11s;
  -o-transition: all ease .11s;
  -ms-transition: all ease .11s;
  transition: all ease .11s;
}
#quiz label:hover, #quiz input[type=radio]:checked + label, #quiz input#submit-quiz:hover, #replay:hover, .take-quiz-btn:hover {
  background: #098636;
  color: #fbfbfb;
}
#quiz .quiz-progress {
  color: #ebe9e6;
  font-size: 14px;
  padding: 7px 30px 5px 0;
  /* text-align: left; */
  text-shadow: 1px 1px #131313;
}
.nomargin { margin: 0;}

.transparent {
  color: transparent;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.index-sell, .index-headline {
  color: #1c2d37;
  margin-top: 50px;
  /* position: absolute; */
  text-align: center;
  /* width: 600px; */
}
.index-headline {
  font-size: 36px;
  height: 100px;
  letter-spacing: 0px;
  text-shadow: 1px 1px 2px #fff;
}

#replay {
  display: block;
  height: 46px;
  line-height: 46px;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.results-img {
  border: 4px solid #ebe9e6;
  left: -25px;
  position: absolute;
  top: 8px;
  width: 208px;
}
.test-results2 {
  color: #fff;
  font-size: 15px;
  line-height: 21px;
  text-shadow: 1px 1px rgba(2,3,5,.666);
}
.test-results2 .score {
  color: #678792;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.results-overlay {
  background-color: transparent;
  margin: 42px 0 0 65px;
  max-height: 325px;
  position: relative;
  width: 510px;
}
.results-overlay .quiz-overlay {
  left: -41px;
  top: -7px;
}
.results-text {
  padding: 5px 35px 30px 215px;
}
.score-details {
  font-size: 12px;
  line-height: 19px;
}
.score-details-sm {
  font-size: 12px;
  line-height: 19px;
}
.result {
  height: 325px;
}
.priest {
  background: url(../../imgs/priest-bg.jpg) no-repeat;
}
.megadeth {
  background: url(../../imgs/megadeth-bg.jpg) no-repeat;
}
.maiden {
  background: url(../../imgs/maiden-bg.jpg) no-repeat;
}
.dio {
  background: url(../../imgs/dio-bg.jpg) no-repeat;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
font-family: 'Open Sans', sans-serif;
}


.section {
margin-bottom: 15px;
width:100%;
float:left;
}

.label {
float: left;
margin-right: 10px;
}

.field {
float: left;
width:100%;
}

/* Box Style */
* {
box-sizing: border-box;
}

/* Add padding to containers */
#container {
padding: 16px;
background-color: white;
width:800px;
margin:0 auto;
}

/* Full-width input fields */
input[type=text], input[type=file], input[type=password], input[type=date], input[type=email], input[type=tel], textarea, select {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
font-size:15pt;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

input[type='radio'] {
transform: scale(2);
}

/* Overwrite default styles of hr */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn {
background-color: #555555;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 49%;
opacity: 0.9;
display: inline;
}

.btn:hover {
opacity: 1;
}

.button {
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:7px;
}

.button:hover {
    background-color: white;
}

#contacts {
  border-collapse: collapse;
  width: 100%;
}

#contacts td, #contacts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#contacts tr:nth-child(even){background-color: #f2f2f2;}

#contacts tr:hover {background-color: #ddd;}

#contacts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #48b1bd;
  color: white;
}

.parentbox {
  display: flex;
  flex-wrap: wrap;
}

.childbox {
  /*
  flex: flex-grow flex-shrink flex-basis;

  flex-grow 	A number specifying how much the item will grow relative to the rest of the flexible items

  flex-shrink 	A number specifying how much the item will shrink relative to the rest of the flexible items

  flex-basis 	The length of the item. Legal values: "auto", "inherit", or a number followed by "%", "px", "em" or any other length unit
  */
  flex: 0 0 350px;
  margin: 10px;
  height: 450px;
  background-color: #d9f9ff;
  border-radius: 10px;
  border: #d4d4d4 solid 2px;
  padding: 10px;
}


a:link.edit, a:visited.edit, a:link.delete, a:visited.delete {
    font-size: 10pt;
    color:#464646;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

a:hover.edit, a:active.edit {
    background-color: #808080;
    color:white;
}

a.edit {
    background-color: #d1d1d1;
}

a:hover.delete, a:active.delete {
    background-color: red;
    color: white;
}

a.delete {
    background-color:#ffaeae;

}
=======
body {
  /* background: black; */
}

.index-banner {
  width: 100%;
  /* margin-top: 85px; */
  height: calc(100vh); /* View Height */
  background-image: url(../Imgs/banner1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  display: table;
  animation: change 25s infinite ease-in-out;
}

.vertical-center {
  display: table-cell; /* Correlated to vertical-align */
  vertical-align: middle; /* To center the index text but padding-top works too */
}

.index-banner h2 {
  font-size: 85px;
  font-family: 'Tangerine', cursive;
  font-weight: 600;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 8px #111; /* like box-shadow */
  line-height: 70px;
  padding-top: 10%; this works but he says it affects other devices so idk
}

.index-banner h1 {
  font-size: 28px;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: 100;
  color: #f0c040;
  text-align: center;
  text-shadow: 2px 2px 8px #111; /* like box-shadow */
  line-height: 40px;
}

.index-banner .btn-wrap {
  width: 100%;
  margin: 50px auto;
  /* background-color: white; */
  text-align: center;
}

.index-banner .btn-wrap a {
  text-decoration: none;
  font-family: 'Tangerine', cursive;
  color: #222;
  font-size: 24px;
  padding: 15px;
  border-radius: 15px;
  /* display: block; */
  /* height: auto; */
  /* width: 250px; */
  background-color: #f0c040;
  transition: 0.2s ease-in-out;
  /* text-align: center; */
}

.index-banner .btn-wrap a:hover {
  background-color: #c0a020;
}

@keyframes change{
    0%
    {
        background-image: url(../Imgs/banner4.jpg);
    }
    20%
    {
        background-image: url(../Imgs/banner3.jpg);
    }
    40%
    {
        background-image: url(../Imgs/banner2.jpg);
    }
    60%
    {
        background-image: url(../Imgs/banner1.jpg);
    }
    80%
    {
        background-image: url(../Imgs/banner5.jpg);
    }
    100%
    {
        background-image: url(../Imgs/banner6.jpg);
    }
}








/* ABOUT US SECTION */

.about-us {
  margin: 0 auto;
  width: 75%;
  height: 400px;
  /* background-color: yellow; */
  padding: 50px 0 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-us >* {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.box1 {
  /* background-color: blue; */
  height: 400px;
  width: 500px;
}

.box1 h1 {
  font-family: 'Tangerine', cursive;
  font-weight: 600;
  font-size: 35px;
  color: #777;
}

.box1 .img-wrap {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  /* width: 100%; */
}

.box1 img {
  width: 100%;

}

.box2 {
  /* background-color: red; */
  height: 400px;
  width: 500px;
}

.box2 h1 {
  margin-top: 50px;
  font-family: 'Tangerine', cursive;
  font-weight: 300;
  font-size: 25px;
  color: #777;
}

.box2 p {
  text-align: justify;
  font-size: 18px;
  font-family: 'Calibri';
  color: #777;
  line-height: 24px;
}











/* FEATURES */

.header-features {
  font-family: 'Tangerine', cursive;
  font-weight: 600;
  font-size: 35px;
  color: #777;
  margin-left: 240px;
}

.features {
  margin: 0 auto;
  width: 75%;
  height: 400px;
  /* background-color: yellow; */
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: justify;
  padding-bottom: 100px;
}

.features >*{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.img-wrap-features {
  display: flex;
  justify-content: center;
  background-color: #f5d47d;
  padding: 50px 0;
  border-radius: 10px;
}

/* .img-wrap-features img {
  height: 200px;
} */

.feature1 {
  /* background-color: blue; */
  height: 450px;
  width: 320px;
  text-align: justify;
}

.feature1 img {
  /* background-color: blue; */
  height: 200px;
  transition: 0.3s ease-in-out;
}

.feature1 img:hover {
  /* background-color: blue; */
  height: 225px;
}

.feature2 {
  /* background-color: green; */
  height: 450px;
  width: 320px;
}

.feature2 img {
  /* background-color: blue; */
  height: 200px;
  transition: 0.3s ease-in-out;
}

.feature2 img:hover {
  /* background-color: blue; */
  height: 225px;
}

.feature3 {
  /* background-color: red; */
  height: 450px;
  width: 320px;
}

.feature3 img {
  /* background-color: blue; */
  height: 200px;
  transition: 0.3s ease-in-out;
}

.feature3 img:hover {
  /* background-color: blue; */
  height: 225px;
}

.features h1 {
  margin-top: 20px;
  font-family: 'Tangerine', cursive;
  font-weight: 600;
  font-size: 25px;
  color: #777;
  text-align: center;
}

.features p {
  margin-top: 20px;
  font-size: 18px;
  font-family: 'Calibri';
  color: #777;
  line-height: 25px;
}









/* PARALLAX */

.parallax {
	background: url("../Imgs/banner13.jpg") repeat fixed 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
	/* text-align: center; */
}
.parallax-inner {
	padding-top: 10%;
	padding-bottom: 10%;
}


.parallax-inner h1 {
  font-family: 'Calibri';
  font-weight: 800;
  font-size: 50px;
  color: white;
  padding-bottom: 20px;
  padding-left: 100px;
}

.parallax-inner p {
  font-family: 'Calibri';
  font-weight: 400;
  font-size: 30px;
  color: white;
  padding-left: 100px;
  padding-bottom: 40px;
}

.parallax-inner a {
  text-decoration: none;
  color: #444;
  font-family: 'Tangerine', cursive;
  font-size: 20px;
  padding: 15px;
  border-radius: 15px;
  /* display: block; */
  /* height: auto; */
  /* width: 250px; */
  background-color: #f0c040;
  transition: 0.2s ease-in-out;
  margin-top: 20px;
  margin-left: 100px;
  /* text-align: center; */
}

.parallax-inner a:hover {
  background-color: #c0a020;
}










/* QUIZ SECTION */

.quiz {
  margin: 0 auto;
  width: 75%;
  height: 400px;
  /* background-color: yellow; */
  padding: 50px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.quiz >* {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.box4 {
  /* background-color: blue; */
  height: 400px;
  width: 500px;
}

.box4 .img-wrap {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  /* width: 100%; */
}

.box4 img {
  width: 100%;

}

.box3 {
  /* background-color: red; */
  height: 400px;
  width: 500px;
}

.box3 h1 {
  margin-top: 50px;
  font-family: 'Tangerine', cursive;
  font-weight: 300;
  font-size: 25px;
  color: #777;
}

.box3 p {
  text-align: justify;
  font-size: 18px;
  font-family: 'Calibri';
  color: #777;
  padding-bottom: 50px;
  line-height: 25px;
}

.box3 a {
  text-decoration: none;
  color: #444;
  font-family: 'Tangerine', cursive;
  font-size: 20px;
  padding: 15px;
  border-radius: 15px;
  /* display: block; */
  /* height: auto; */
  /* width: 250px; */
  background-color: #f0c040;
  transition: 0.2s ease-in-out;
  /* margin-left: 150px; */
}

.box3 a:hover {
  background-color: #c0a020;
}

.center {
  margin: 0 auto;
  text-align: center;
  padding: 150px;
  max-width: 1000px;
  border-radius: 5px;
}

.beeg {
  margin: 0 auto;
  text-align: center;
  padding: 150px;
  max-width: 1500px;
  border-radius: 5px;
}

.buttonlink {
  text-decoration: none;
  color: white;
}

.container {
  padding: 10px;
}

.child {
  width: 33.3%;
  float: left;
}

.comment {
  border: 3px solid grey;
  text-align: left;
  padding: 20px;
}

input {
  width: 50%;
  padding:  12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  width: 100%;
  padding: 8px;
  border-collapse: collapse;
}

th {
  padding: 12px;
  background-color: #f0c040;
  color: white;
  font-size: 16px;
}

td {
  padding: 12px;
  text-align: center;
}

input[type=submit], input[type=button] {
  background-color: #f0c040;
  color: white;
  padding: 16px 20px;
  margin: 4px 2px;
  border: none;
  cursor: pointer;
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

button {
  color: white;
  background-color: #f0c040;
  magin: 4px 2px;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  width:  500px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

button.small {
  background-color: #f0c040;
  font-size: 14px;
  text-align: center;
  padding: 8px;
  width:  90px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

* {
  font-family: Arial;
}

>>>>>>> Ethan
