#quiz {
  margin: 0 18px;
  padding: 0 0 0 1px;
  position: relative;
  -webkit-transition: all linear .35s;
  -moz-transition: all linear .35s;
  -o-transition: all linear .35s;
  -ms-transition: all linear .35s;
  transition: all linear .35s;
  text-align: center;
}
#quiz .anticipate {
  color: #1c2d37;
  font-size: 32px;
  line-height: 41px;
  padding: 50px 0 0 0;
  text-shadow: 1px 1px rgba(255,255,255,.666);
  text-align: center;
}
#start-quiz {
  margin-top: 25px;
}
#quiz ul li div.quiz-overlay { margin: 0; }
#quiz ul {
  list-style-type: none;
  margin-top: 0;
}
#quiz h3 {
  color: #222;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin: 0 0 1px 0;
  min-height: 64px;
  padding: 9px 50px 0;
  /* text-align: left; */
}
#quiz ul li {
  height: 335px;
  margin: 25px 0 95px 0;
  max-height: 335px;
  min-height: 335px;
}
#quiz ul li div {
  color: #ebe9e6;
  margin: 10px 0;
  padding: 1px 0;
}
#quiz ul li div.mtm {
  margin-top: 20px;
}
#quiz input {
  opacity: 1;
  vertical-align: middle;
  width: 20px;
}
#quiz label, #quiz input#submit-quiz {
  background-color: #1f4c5b;
  cursor: pointer;
  display: inline-block;
  z-index: 99;
}
#quiz label {
  height: 31px;
  font-size: 13px;
  line-height: 2.55em;
  margin: 0 30px 0 0;
  max-width: 1000px;
  padding: 2px 0 4px 16px;
  width: 575px;
}
#quiz input#submit-quiz {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #1f4c5b;
  border: none;
  color: #ebe9e6;
  display: block;
  font-family: 'Droid Serif', Times, serif;
  font-size: 21px;
  height: 74px;
  margin: 43px auto 0;
  opacity: 1;
  width: 250px;
}
#quiz label, #quiz input[type=radio]:checked + label, #quiz input#submit-quiz, #replay, .take-quiz-btn {
  -webkit-transition: all ease .11s;
  -moz-transition: all ease .11s;
  -o-transition: all ease .11s;
  -ms-transition: all ease .11s;
  transition: all ease .11s;
}
#quiz label:hover, #quiz input[type=radio]:checked + label, #quiz input#submit-quiz:hover, #replay:hover, .take-quiz-btn:hover {
  background: #098636;
  color: #fbfbfb;
}
#quiz .quiz-progress {
  color: #ebe9e6;
  font-size: 14px;
  padding: 7px 30px 5px 0;
  /* text-align: left; */
  text-shadow: 1px 1px #131313;
}
.nomargin { margin: 0;}

.transparent {
  color: transparent;
  display: none;
  opacity: 0;
  visibility: hidden;
}

.index-sell, .index-headline {
  color: #1c2d37;
  margin-top: 50px;
  /* position: absolute; */
  text-align: center;
  /* width: 600px; */
}
.index-headline {
  font-size: 36px;
  height: 100px;
  letter-spacing: 0px;
  text-shadow: 1px 1px 2px #fff;
}

#replay {
  display: block;
  height: 46px;
  line-height: 46px;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.results-img {
  border: 4px solid #ebe9e6;
  left: -25px;
  position: absolute;
  top: 8px;
  width: 208px;
}
.test-results2 {
  color: #fff;
  font-size: 15px;
  line-height: 21px;
  text-shadow: 1px 1px rgba(2,3,5,.666);
}
.test-results2 .score {
  color: #678792;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 4px;
  text-transform: uppercase;
}
.results-overlay {
  background-color: transparent;
  margin: 42px 0 0 65px;
  max-height: 325px;
  position: relative;
  width: 510px;
}
.results-overlay .quiz-overlay {
  left: -41px;
  top: -7px;
}
.results-text {
  padding: 5px 35px 30px 215px;
}
.score-details {
  font-size: 12px;
  line-height: 19px;
}
.score-details-sm {
  font-size: 12px;
  line-height: 19px;
}
.result {
  height: 325px;
}
.priest {
  background: url(../../imgs/priest-bg.jpg) no-repeat;
}
.megadeth {
  background: url(../../imgs/megadeth-bg.jpg) no-repeat;
}
.maiden {
  background: url(../../imgs/maiden-bg.jpg) no-repeat;
}
.dio {
  background: url(../../imgs/dio-bg.jpg) no-repeat;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
font-family: 'Open Sans', sans-serif;
}


.section {
margin-bottom: 15px;
width:100%;
float:left;
}

.label {
float: left;
margin-right: 10px;
}

.field {
float: left;
width:100%;
}

/* Box Style */
* {
box-sizing: border-box;
}

/* Add padding to containers */
#container {
padding: 16px;
background-color: white;
width:800px;
margin:0 auto;
}

/* Full-width input fields */
input[type=text], input[type=file], input[type=password], input[type=date], input[type=email], input[type=tel], textarea, select {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
font-size:15pt;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

input[type='radio'] {
transform: scale(2);
}

/* Overwrite default styles of hr */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* Set a style for the submit button */
.btn {
background-color: #555555;
color: white;
padding: 16px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 49%;
opacity: 0.9;
display: inline;
}

.btn:hover {
opacity: 1;
}

.button {
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:7px;
}

.button:hover {
    background-color: white;
}

#contacts {
  border-collapse: collapse;
  width: 100%;
}

#contacts td, #contacts th {
  border: 1px solid #ddd;
  padding: 8px;
}

#contacts tr:nth-child(even){background-color: #f2f2f2;}

#contacts tr:hover {background-color: #ddd;}

#contacts th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #48b1bd;
  color: white;
}

.parentbox {
  display: flex;
  flex-wrap: wrap;
}

.childbox {
  /*
  flex: flex-grow flex-shrink flex-basis;

  flex-grow 	A number specifying how much the item will grow relative to the rest of the flexible items

  flex-shrink 	A number specifying how much the item will shrink relative to the rest of the flexible items

  flex-basis 	The length of the item. Legal values: "auto", "inherit", or a number followed by "%", "px", "em" or any other length unit
  */
  flex: 0 0 350px;
  margin: 10px;
  height: 450px;
  background-color: #d9f9ff;
  border-radius: 10px;
  border: #d4d4d4 solid 2px;
  padding: 10px;
}


a:link.edit, a:visited.edit, a:link.delete, a:visited.delete {
    font-size: 10pt;
    color:#464646;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

a:hover.edit, a:active.edit {
    background-color: #808080;
    color:white;
}

a.edit {
    background-color: #d1d1d1;
}

a:hover.delete, a:active.delete {
    background-color: red;
    color: white;
}

a.delete {
    background-color:#ffaeae;

}
