.page-flex {
  background-color: yellow;
  height: 1000px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  padding-top: 100px;
}

.page-flex > div {
  background-color: DodgerBlue;
    color: white;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}

.box1 {
  flex-grow: 1;
  flex-basis: 30%;
  /* background-color: blue; */
  /* height: 800px; */
}

.box2 {
  flex-grow: 2;
  flex-basis: 70%;
  /* background-color: blue; */
  /* height: 800px; */
}
